

services:
  gateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: gift-ecommerce-gateway
    ports:
      - "8080:8080"
    depends_on:
      - identityservice
      - categoryservice
      - cartservice

  identityservice:
    image: ${DOCKER_REGISTRY-}identityservice
    build:
      context: .
      dockerfile: IdentityService/Dockerfile
    container_name: gift-ecommerce-identity
    ports:
      - "5001:8080"
    depends_on:
      - sqlserver
   
  inventoryservice:
    image: ${DOCKER_REGISTRY-}inventoryservice
    build:
      context: .
      dockerfile: InventoryService/Dockerfile
    container_name: gift-ecommerce-inventory
    ports:
      - "5003:8080"
    depends_on:
      - sqlserver

  categoryservice:
    image: ${DOCKER_REGISTRY-}categoryservice
    build:
      context: .
      dockerfile: CategoryService/Dockerfile
    container_name: gift-ecommerce-category
    ports:
      - "5002:8080"
    depends_on:
      - sqlserver


  cartservice:
    image: ${DOCKER_REGISTRY-}cartservice
    build:
      context: .
      dockerfile: CartService/Dockerfile
    container_name: gift-ecommerce-cart
    ports:
      - "5005:8080"
    depends_on:
      - sqlserver
      - redis
      - identityservice
      - categoryservice

  orderservice:
    image: ${DOCKER_REGISTRY-}orderservice
    build:
      context: .
      dockerfile: OrderService/Dockerfile
    container_name: gift-ecommerce-order

  offerservice:
    image: ${DOCKER_REGISTRY-}offerservice
    build:
      context: .
      dockerfile: OfferService/Dockerfile
    container_name: gift-ecommerce-offer

  notificationservice:
    image: ${DOCKER_REGISTRY-}notificationservice
    build:
      context: .
      dockerfile: NotificationService/Dockerfile
    container_name: gift-ecommerce-notification

  
  userprofileservice:
    image: ${DOCKER_REGISTRY-}userprofileservice
    build:
      context: .
      dockerfile: UserProfileService/Dockerfile
    container_name: gift-ecommerce-profile
    ports:
      - "5009:8080"
    depends_on:
      - sqlserver
      - identityservice

volumes:
  redis_data:
