version: '3.8'

services:
  gateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: gift-ecommerce-gateway
    ports:
      - "8080:8080"
    depends_on:
      - identityservice
      - categoryservice

  identityservice:
   image: ${DOCKER_REGISTRY-}identityservice
   build:
    context: .
    dockerfile: IdentityService/Dockerfile
   ports:
    - "5001:8080"
   environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://+:8080
    - DOTNET_RUNNING_IN_CONTAINER=true
    - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=IdentityDb;User=sa;Password=Strong!Passw0rd123;TrustServerCertificate=True
   depends_on:
    - sqlserver
   command: ["dotnet", "IdentityService.dll", "--urls", "http://0.0.0.0:8080"] 
   
  categoryservice:
    image: ${DOCKER_REGISTRY-}categoryservice
    build:
      context: .
      dockerfile: CategoryService/Dockerfile

  productservice:
    image: ${DOCKER_REGISTRY-}productservice
    build:
      context: .
      dockerfile: ProductService/Dockerfile

  cartservice:
    image: ${DOCKER_REGISTRY-}cartservice
    build:
      context: .
      dockerfile: CartService/Dockerfile

  orderservice:
    image: ${DOCKER_REGISTRY-}orderservice
    build:
      context: .
      dockerfile: OrderService/Dockerfile

  offerservice:
    image: ${DOCKER_REGISTRY-}offerservice
    build:
      context: .
      dockerfile: OfferService/Dockerfile

  notificationservice:
    image: ${DOCKER_REGISTRY-}notificationservice
    build:
      context: .
      dockerfile: NotificationService/Dockerfile

  occasionservice:
    image: ${DOCKER_REGISTRY-}occasionservice
    build:
      context: .
      dockerfile: OccasionService/Dockerfile