version: '3.8'

services:
  gateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: gift-ecommerce-gateway
    ports:
      - "8080:8080"
    depends_on:
      - identityservice
      - categoryservice

  identityservice:
    image: ${DOCKER_REGISTRY-}identityservice
    build:
      context: .
      dockerfile: IdentityService/Dockerfile
    container_name: gift-ecommerce-identity
    ports:
      - "5001:8080"
    depends_on:
      - sqlserver

  categoryservice:
    image: ${DOCKER_REGISTRY-}categoryservice
    build:
      context: .
      dockerfile: CategoryService/Dockerfile
    container_name: gift-ecommerce-category

  productservice:
    image: ${DOCKER_REGISTRY-}productservice
    build:
      context: .
      dockerfile: ProductService/Dockerfile
    container_name: gift-ecommerce-product

  cartservice:
    image: ${DOCKER_REGISTRY-}cartservice
    build:
      context: .
      dockerfile: CartService/Dockerfile
    container_name: gift-ecommerce-cart

  orderservice:
    image: ${DOCKER_REGISTRY-}orderservice
    build:
      context: .
      dockerfile: OrderService/Dockerfile
    container_name: gift-ecommerce-order

  offerservice:
    image: ${DOCKER_REGISTRY-}offerservice
    build:
      context: .
      dockerfile: OfferService/Dockerfile
    container_name: gift-ecommerce-offer

  notificationservice:
    image: ${DOCKER_REGISTRY-}notificationservice
    build:
      context: .
      dockerfile: NotificationService/Dockerfile
    container_name: gift-ecommerce-notification

  occasionservice:
    image: ${DOCKER_REGISTRY-}occasionservice
    build:
      context: .
      dockerfile: OccasionService/Dockerfile
    container_name: gift-ecommerce-occasion
    ports:
      - "5002:8080"
    depends_on:
      - sqlserver
